@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik+Burned&family=Rubik+Glitch&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #dddddd;
  margin: auto;
}

.header {
  background-color: rgb(247, 108, 7);
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: center;
  align-items: center;
  font-family: "Rubik Burned", cursive;
}

.headerLogo {
  display: block;
  width: 180px;
}

.headerNavBar {
  display: flex;
  flex-direction: row;
  color: white;
  gap: 100px;
  font-size: 22px;
}

.main-nav__burger {
  cursor: pointer;
  display: none;
  height: 20px;
  padding: 12px;
  position: absolute;
  width: 30px;
  right: 50px;
}
.main-nav__burger span,
.main-nav__burger::before,
.main-nav__burger::after {
  background-color: white;
  height: 2px;
  left: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.active section div nav .main-nav__burger span {
  transform: scale(1);
}

.main-nav__burger::before,
.main-nav__burger::after {
  content: " ";
}

.main-nav__burger::before {
  top: 0;
}

.main-nav__burger::after {
  bottom: 0;
}

.main-nav__burger.active span {
  transform: scale(0);
}

.main-nav__burger.active::before {
  transform: rotate(-45deg);
  top: 50%;
}

.main-nav__burger.active::after {
  bottom: 40%;
  transform: rotate(45deg);
}

.social {
  display: flex;
  gap: 20px;
}

.socialIcon {
  width: 40px;
  height: 40px;
  padding: 4px;
  border-radius: 20%;
  border-color: #dddddd;
  border-width: 2px;
  background-color: rgb(247, 108, 7);
}

@media (max-width: 1200px) {
  .showNavBarBurger {
    background-color: #dddddd;
    height: 100%;
    left: 0;
    margin: auto;
    overflow: hidden;
    padding: 100px 24px 50px 24px;
    position: fixed;
    transition: top 0.2s ease-in 0.1s;
    top: -100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 5;
  }

  .headerNavBar {
    color: white;
    display: flex;
    flex-direction: column;
  }

  .showNavBarBurger.active {
    top: 0;
  }

  .social {
    display: none;
  }

  .social.active {
    display: flex;
    gap: 40px;
  }

  .main-nav__burger {
    display: block;
    position: absolute;
    z-index: 10;
  }
}
