.naming {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }
  
  .nameDescr {
    margin-bottom: 100px;
    font-size: 20px;
    font-family: "Rubik Burned", cursive;
    color: rgb(247, 108, 7);
  }
  
  @media (min-width: 481px) {
    .nameDescr {
      font-size: 22px;
    }
  }
  
  @media (min-width: 769px) {
    .nameDescr {
      font-size: 25px;
    }
  }
  
  @media (min-width: 1025px) {
    .nameDescr {
      font-size: 28px;
    }
  }
  
  @media (min-width: 1200px) {
    .nameDescr {
      font-size: 32px;
    }
  }